body {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: white;
    background-color: #36393e;
}
.headline {
    width: 100%;
    margin: auto;
    font-size: 40pt;
    text-decoration: underline;
}
.tripleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tripleCore {
    margin: 0 auto;
    width: 33.33%;
    font-size: 30pt;
}
a:link {
    text-decoration: none;
}
a {
    color: white;
}