body {
	background-color: #36393e;
	color: white;
	margin: 0;
	font-family: 'Chakra Petch', sans-serif;
}
.middle {
	margin-left: 20%;
	margin-right: 20%;
}
.text-Center {
	text-align: center;
}
#logo-wrapper {
	display: flex;
	justify-content: center;
}
#logo {
	width: 400px;
}
footer {
	padding: 7px;
	background-color: #AAE4A5;
	color: black;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
}
a {
	color: white;
}
nav {
	padding: 10px;
}
#title {
	font-size: 64pt;
}
.image-hr {
	padding-top: 20px;
	padding-bottom: 2px;
}
#whiteSpace {
	width: 100%;
	height: 150px;
}
aside {
	position: absolute;
	right: 0;
	top: 0;
	background-color: gray;
	display: flex;
	flex-direction: column;
}
aside p {
	text-decoration: underline;
}
.previewBox {
	display: flex;
	flex-direction: column;
	margin: 15px;
	text-align: center;
	border-bottom: 2px solid black;
}
.previewImg {
	width: 150px;
}
#void {
	height: 50px;
}