body {
    margin: 0;
    padding: 60px 100px 20px;
    background-color: rgb(55, 55, 55) !important;
    color: white !important;
}
h3 {
    color: red !important;
}
.burger {
    display: none;
    padding: 5px;
    width: 20px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    float: right;
}
.menu-list {
    float: right;
}

.menu-list li {
    display: inline-block;
    padding: 40px;
    margin: 25px 30px;
}

.dog {
    height: 150px;
}

header h1 {
    margin: 100px 0;
}

.round-white-box {
    margin-bottom: 80px;
    background-color: rgb(88, 88, 88) !important;
}

.main-flexbox {
    display: flex;  
    justify-content: space-between;
    align-items: center;
}

.main-textbox {
    width: 580px;
    padding: 0 50px;
    margin: 18px;  
}

.main-image {
    height: 400px;
    width: 1000px;
    margin: 18px;  
}

.main-button {
    display: inline-block;
    padding: 11px 0px;
    text-align: center;
    width: 340px;
    margin: 20px 0;
    background-color: red !important;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 1280px) {
.main-flexbox {
    text-align: center;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
.main-image {
    width: 90%;
    height: auto;
}
.main-button {
    width: 80%;
}
nav {
    display: none;
}
header h1 {
    font-size: 8vw !important;
}
header {
    text-align: center;
}
.burger {
    display: inline-block;
}
}