body {
    margin: 0;
    color: white;
    overflow: auto;
    font-family: "Vollkorn", serif;
    font-size: 18px;
}
.font-bebas {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.font-vollkorn {
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
nav {
    border-bottom: 2px solid black;
    background-color: #36393e;
}
a:link {
    text-decoration: none;
}
.blurIcon a:visited {
    color: black;
}
a:visited {
    color: white;
}
#indexWrapper {
    min-width: 100%;
    min-height: 100%;
    overflow-y: hidden;
}
#indexVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
#intro {
    position: relative;
    background-color: rgba(0,0,0,0.6);
    top: 15vh;
    left: 8vw;
    width: 20vw;
    text-align: center;
    color: white;
    }
    #intro2 {
        position: relative;
        background-color: rgba(0,0,0,0.6);
        top: 15vh;
        left: 4vw;
        width: 35vw;
        text-align: center;
        color: white;
        }
#steak:hover {
    color: red;
}
#klick:hover {
    color: green;
}
.introText, #intro hr {
    font-size: 40pt;
    margin: 10px;
}
#settings {
    float: right;
    height: 40px;
}
#settingsIco {
    height: 40px;
    float: right;
    padding-top: 3px;
    padding-right: 3px;
}
.navbar {
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.navbar p {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 4vh;
}
.blurWrapper { 
    display: flex;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
    background-color: #36393e;
}
.containerBlur {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}
.blurIcon { 
    width: 30%;
    height: auto;
    min-height: 300px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    color: black;
}
.blurIcon p {
    font-size: 25pt;
}
.blurImg {
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.containerBlur .blurIcon {
    transition: .5s ease-in-out;
}
.containerBlur:hover .blurIcon {
    transform: scale(.9);
    opacity: .5;
}
.containerBlur .blurIcon:hover {
    transform: scale(1.2);
    opacity: 1;
}
#contentWrapper {
    width: 100%;
    height: 92%;
    background-color: antiquewhite;
}
#sidebar {
    width: 305px;
    height: 100%;
    float: left;
    overflow-y: none;
    background-color: #36393e;
    display: flex;
    flex-wrap: wrap;
    transition: .4s ease-in-out;
}
.contentArea {
    color: black;
    display: flex;
    align-items: stretch;
}
.contentArea p {
    margin: 0;
}
.ackerbauSBIcon {
   width: 250px;
   user-select: none;
   -webkit-user-drag: none;

}
#ico1:hover, #ico2:hover, #ico3:hover {
    /*background-color: rgb(172, 159, 142);*/
    cursor: pointer;
}
#content1, #content2, #content3 {
    display: none;
}
#ico1, #ico2, #ico3 {
    min-width: 100%;
    display: flex;
    justify-content: center;
    height: 31%;
    flex-wrap: wrap;
}
#reset {
    display: flex;
    justify-content: center;
    min-width: 100%;
    height: 7%;
    background-color: #36393e;
    text-align: center;
}
#reset:hover {
    background-color: rgb(172, 159, 142);
    color: black;
    cursor: pointer;
}
.actualContent {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}
.actualContent ul {
    text-align: left;
}
.actualContent li {
    margin: 8px;
}
.listStart {
    font-weight: 500;
    font-style: medium;
    font-size: 25px;
}
.contentImgSingle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentImgSingle img {
    max-height: 300px;
}
.contentImgMulti {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contentImgMulti img {
    max-height: 300px;
}
#impBody {
    background-color: #36393e;
}
#impWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    background-color: antiquewhite;
    color: black;
}
.text-center {
    text-align: center;
}
.impC { /*Impressum Container*/
    margin-bottom: 50px;
}
#impC1 {
    text-align: left;
}
#impC3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.toggle-checkbox {
    display:none;
}
.toggle-checkbox:checked + .sourceWrapper .sourceContainer {
    display:block;
}
.sourceContainer {
    display: none;
    position:relative;
    top: 0;
    left: 0;
    background-color: #9d9d9d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: outset black 4px;
}
.sourceContainer a {
    color: white;
}
.sourceWrapper {
    margin: 20px 25px;
    text-align: center;
}
.sourceWrapper span {
    padding: 20px 25px;
    font-size: 30pt;
}
.sourceWrapper span:hover {
    background-color: rgb(172, 159, 142);
}
.whitespace100px {
    height: 100px;
}
#impVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
#navStart {
    height: 100%;
    width: 305px;
}
.dropbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  .dropbtn:hover {
    background-color: rgb(172, 159, 142);
    color: black;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: antiquewhite;
    width: 305px;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
  }
  .dropdown-content a:hover {background-color: rgb(172, 159, 142);}
  .show {display: block;}
#uebersichtKurz {
    display: none;
}
  /*Responsiveness für main.html*/
@media screen and (max-width: 1100px) {
    .containerBlur {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    .blurIcon {
        width: 100%;
        min-height: 40px;
        margin: 20px 0 30px 0;
    }
    .blurWrapper {
        display: flex;
        justify-content: center;
    }
    body {
        overflow-y: auto;
    }
    #uebersichtKurz {
        display: block;
        font-size: 10vh;
    }
    #uebersicht {
        display: none;
    }
    #myDropdown a {
        font-size: 4vh;
    }
    #navImp p{
        font-size: 8vw;
    }
    .navbar {
        height: 12vh;
    }
    .containerBlur:hover .blurIcon {
        transform: scale(1);
        opacity: .5;
    }
    .containerBlur .blurIcon:hover {
        transform: scale(1);
        opacity: 1;
    }