body {
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: #36393e;
}
.font-bebas {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
nav {
    border-bottom: 2px solid black;
}
a:link {
    text-decoration: none;
}
a:visited {
    color: white;
}
#intro {background-color: rgba(0,0,0,0.3);
    margin-top: 10vw;
    margin-left: 8vw;
    width: 20vw;
    text-align: center;
    color: white;
    }
#klick:hover {
    color: green;
}
.introText {
    font-size: 40pt;
    margin-top: 0;
    margin-bottom: 0;
}
#settings {
    float: right;
    height: 40px;
}
#settingsIco {
    height: 40px;
    float: right;
    padding-top: 3px;
    padding-right: 3px;
}
.navbar {
    height: 47px;
}
#navStart {
    font-size: 26px;
    float: left;
    text-decoration: none;
}
#navStart:hover {
    background-color: #7289da;
}
.navbar p {
    margin: 0;
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3px;
}
#contentWrapper {
    width: 100%;
}
#sidebar {
    width: 305px;
    float: left;
    border-right: 2px solid black;
}
.contentArea {
    background-color: white;
    color: black;
}
.contentArea p {
    margin: 0;
}
.ackerbauSBIcon {
    height: 31.5%;
    opacity: 0.65;
}
#maisIcon:hover {
    opacity: 1;
    transition: 0.5s ease-out;
}
#getreideIcon:hover {
    opacity: 1;
    transition: 0.5s ease-out;
}
#nutzpflanzenIcon:hover {
    opacity: 1;
    transition: 0.5s ease-out;
}